/*******************************************************************/
/*              Hoja de estilo de Panqueques.html                  */
/*              Autor: Barbara Colomer                             */
/*              Version: 1.0                                       */
/*              fecha: Diciembre 2023                              */
/*              comentario: trabajo lenguaje en marcas             */
/*                                                                 */
/*******************************************************************/

/*****************external fonts************************************/
@font-face {
  src: url(../font/CloudyJune.ttf); 
  font-family: cloudy;
}
@font-face {
  src: url(../font/HalloweenYouAndMeRegular.ttf);
  font-family: halloween; 
}
@font-face {
    src: url(../font/Mandala\ Handmade.otf);
  font-family: mandala;
}
*
{ box-sizing: border-box ;}

body{
  background-image: url(../img/cupcake.jpg);
  
  display: flex; /* Utiliza flexbox para el posicionamiento */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  min-height: 100vh; /* Establece el 100% de la altura visible del viewport */
  margin: 0;
}
#panqueques{
    width: 90%; /* Establece el ancho de la imagen al 90% del contenedor padre (el body en este caso) */
    height: auto; /* Esto mantiene la proporción original de la imagen */
    display: block; /* Asegura que la imagen sea un bloque y respete el ancho especificado */
    margin: auto; /* Centra la imagen horizontalmente dentro del contenedor */
    border-radius: 3%;
}
#wrapper{
position: relative;
background-color: #FFFCCF;
padding: 5%;
width: 90%;

}


/**************************************** RESPONSIVIDAD *****************************************/

/********************************** ATENCIÓN: MEDIA QUERY ***************************************/

@media only screen and (width<700px) {
        #wrapper {width:95%}                       /*Redefino el ancho del wrapper para el movil*/
        blockquote {width:70%;}
        img {width:50%;}
}